<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotel.My.MySettings.HosPDeirosConnectionString" connectionString="Data Source=regulus;Initial Catalog=HosPDeiros;Persist Security Info=True;User ID=hospdeiros;Password=amostra"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>